/* Matrix theme */
Screen {
  background: #000000;
}

* {
  background: #000000;
  color: #00BFA5;
}

#rain {
  layer: below;
}

#content, #sidebar, #detail, #main-list {
  background: #000000dd;
  border: solid #00BFA5;
}

Header, Footer {
  background: #000000f5;
  color: #00E676;
}

Static {
  color: #00BFA5;
}

.accent {
  color: #00E676;
}


